body {
    height: 100vh;
    width: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

canvas#input-canvas {
    width: 100%;
    height: 100%;
    max-width: 500px;
    max-height: 150px;
    min-height: 100px;
    min-width: 300px;
    border: solid 1px black;
}
