<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Latex Scribe</title>
    <link rel="stylesheet" href="/static/css/index.css">
    <script src="/static/js/index.js" defer></script>
</head>
<body>
<div id="output"></div>
<div id="input">
    <div id="canvas-container">
        <canvas id="input-canvas">Your browser must support HTML5 Canvas for this to work.</canvas>
    </div>
    <div id="controls">
        <a href="javascript:submitCanvasInput()">Submit</a>
        <a href="javascript:clearCanvasInput()">Clear</a>
    </div>
</div>
</body>
</html>